header
  nav
    details(open)
      summary
        span cantrellnm.dev
      //- details(open)
      //-   summary
      //-     span files
      //-   ul
      //-     li.pdf
      //-       a(href='#') resume
      details(open)
        summary
          span links
        ul
          li
            a(href='https://github.com/cantrellnm') GitHub
          li
            a(href='https://www.drupal.org/u/cantrellnm') Drupal
          li
            a(href='https://codepen.io/cantrellnm') CodePen
          li
            a(href='https://twitter.com/cantrell_nm') Twitter
      p(aria-hidden=true)
        span cantrellnm
